default_install_hook_types:
- commit-msg
- pre-commit

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    # Windows compatibility
    - id: check-case-conflict
    - id: check-illegal-windows-names
- repo: https://github.com/espressif/conventional-precommit-linter
  rev: v1.11.0
  hooks:
  - id: conventional-precommit-linter
    stages: [commit-msg]
